
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd" 
version="2.4">


  <servlet>
  	<servlet-name>ListenerTester</servlet-name>
  	<servlet-class>servlets.ListenerTester</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ListenerTester</servlet-name>
  	<url-pattern>/lt</url-pattern>
  </servlet-mapping>
  <listener>
 	<listener-class>listeners.MyServletContextListener</listener-class> 
  </listener>
</web-app>
